.bigbox{
//自己的数据的样式
  //   width: 100%;
  //   height: calc(100% - .666667rem);
  //   margin-bottom: 1.1rem;
  //   overflow: scroll;
  //   .box{
  //     position: fixed;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background: rgba(0, 0, 0, .4);
  //     z-index: 1000;
  //   img{
  //     align-items: center;
  //     width: 100%;
  //     height: auto;
  //     }
  //   .close-btn{
  //     position: absolute;
  //     left: 4.5rem;
  //     bottom: 3rem;
  //     width: .8rem;
  //     height: .8rem;
  //     border: .013333rem solid #000;
  //     border-radius: 50%;
  //     text-align: center;
  //     margin-top: .266667rem;
  //   }
  // }
  // .special{
  //     width: 95%;
  //     height: 4.666667rem;
  //     margin-top: 1rem;
  //     .name{
  //       font-size: .48rem;
  //       font-weight: bold;
  //       overflow: hidden;
  //       margin-left: .266667rem;
  //     }
  //     .special-bottom{
  //       //不滚动
  //       display: flex;
  //       width: 100%;
  //       height: 100%;
  //       overflow-x: scroll;
  //       white-space: nowrap;
  //       -webkit-overflow-scrolling: touch;
  //         img{
  //           display: inline-block;
  //           width: 4rem;
  //           height: 4rem;
  //           margin-top: .133333rem;
  //           margin-left: .2rem;
  //         }
  //     }
  // }
  // .suprice{
  //     width: 95%;
  //     height: 6.666667rem;
  //     margin-top: .4rem;
  //     .name{
  //       font-size: .48rem;
  //       font-weight: bold;
  //       overflow: hidden;
  //       margin-left: .266667rem;
  //     }
  //     .txt{
  //       font-size: .40rem;
  //       color: #999999;
  //       margin-left: .266667rem;
  //       margin-top: .16rem;
  //     }
  //     .contents{
  //         width: 100%;
  //         height: 5.066667rem;
  //         margin-top: .4rem;
  //         display: flex;
  //         overflow-x: scroll;
  //         white-space: nowrap;
  //         .smallbox{
  //             width: 3.733333rem;
  //             height: 5.066667rem;
  //             margin-left: .266667rem;
  //             img{
  //                 width: 3.76rem;
  //                 height: 3.76rem;
  //             }
  //             .jianjie{
  //               font-size: .293333rem;
  //               margin-top: .186667rem;
  //               line-height: 1.5;
  //               word-break: break-all;
  //               overflow: hidden;
  //               text-overflow: ellipsis;
  //             }
  //             .price{
  //               width: 100%;
  //               height: .533333rem;
  //               span:nth-of-type(1){
  //                   font-size: .533333rem;
  //                   color: #5781d0;
  //               }
  //               span:nth-of-type(2){
  //                   margin-left:.133333rem;
  //                   margin-top:.133333rem;
  //                   height:.266667rem;
  //                   color: rgb(153, 153, 153); 
  //                   text-decoration: line-through;
  //                   font-size:.266667rem;
  //               }
  //             }
  //         }
  //     }
  // }
  // .fourpricter{
  //     width: 100%;
  //     height: 9.933333rem;
  //     margin-top: .266667rem;
  //     .small_picter{
  //       width: 95%;
  //       height: 100%;
  //       margin: 0 auto;
  //       img:nth-of-type(1){
  //           width: 4.5rem;
  //           height: 5.493333rem;
  //           margin-left: .1rem;
  //           float: left;
  //       }
  //       img:nth-of-type(2){
  //           width: 4.5rem;
  //           height: 4.266667rem;
  //           margin-left: .333333rem;
  //           float: left;
  //       }
  //       img:nth-of-type(3){
  //           width: 4.5rem;
  //           height: 4.266667rem;
  //           margin-top: 1.3rem;
  //           margin-left: -4.4312rem;
  //           float: left;
  //       }
  //       img:nth-of-type(4){
  //           width: 4.5rem;
  //           height: 5.493333rem;
  //           margin-top: .1rem;
  //           margin-left: .23rem;
  //           float: left;
  //       }
  //     } 
  // }
  // .beloved{
  //   width: 100%;
  //   height: 2.066667rem;
  //   img{
  //     width: 95%;
  //     height: 2.026667rem;
  //     margin-left: .266667rem;
  //     margin-top: .32rem;
  //   }
  // }
  // .appera{
  //   width: 95%;
  //   height: 13.6rem;
  //   margin: 0 auto;
  //   margin-top: 1rem;
  //   .title{
  //     font-size: .48rem;
  //     font-weight: bold;
  //     overflow: hidden;
  //     margin-left: .266667rem;
  //   }
  //   .txt{
  //     font-size: .40rem;
  //     color: #999999;
  //     margin-left: .266667rem;
  //     margin-top: .3rem;
  //   }
  //   img{
  //     width: 95%;
  //     height: 4.773333rem;
  //     margin-left: .266667rem;
  //     margin-top: .3rem;
  //   }
  //   .data{
  //     display: flex;
  //     width: 95%;
  //     height: 5.066667rem;
  //     margin-left: .266667rem;
  //     margin-top: .3rem;
  //     overflow-x: scroll;
  //     white-space: nowrap;
  //     .smallbox{
  //       width: 3.76rem;
  //       height: 5.066667rem;
  //       margin-right: .2rem;
  //       img{
  //         width: 100%;
  //         height: 4rem;
  //         margin-left: 0;
  //         margin-top: 0;
  //       }
  //       .name{
  //         font-size: .293333rem;
  //         margin-top: .186667rem;
  //         line-height: 1.5;
  //         word-break: break-all;
  //         overflow: hidden;
  //         text-overflow: ellipsis;
  //       }
  //       .price{
  //         font-size: .373333rem;
  //         color: #5781d0;
  //         margin-top: .08rem;
  //       }
  //     }
  //   }
  //   .sees{
  //     width:95%;
  //     height:1.333333rem;
  //     line-height:1.333333rem;
  //     margin-left:.266667rem;
  //     text-align: center;
  //     font-size: .373333rem;
  //     color: #999999;
  //     border-bottom: solid .013333rem;
  //     clear: both;  
  //   }
  // }
  // .bigproduct{
  //   width: 100%;
  //   height: 28rem;
  //   .middlebox{
  //     width: 95%;
  //     height: 100%;
  //     margin: 0 auto;
  //     .name{
  //       font-size: .55rem;
  //       font-weight: bold;
  //       overflow: hidden;
  //       margin-left: .266667rem;
  //       width: 8rem;
  //       height: .666667rem;
  //     }
  //     .smallproduct{
  //       width: 100%;
  //       height: 24rem;
  //       margin-top: .5rem;
  //       overflow: hidden;
  //       dl{
  //         width: 4.333333rem;
  //         height: 7.5rem;
  //         float: left;
  //         margin-top: .4rem;
  //         .imgs{
  //           width: 100%;
  //           height: 4rem;
  //           img{
  //             width: 100%;
  //             height: 100%;
  //           }
  //         }
  //         .texts{
  //           width: 100%;
  //           height: 3.253333rem;
  //           .name1{
  //             line-height: 1.5;
  //             font-size: .32rem;
  //             margin-top: .266667rem;
  //             margin-left: .2rem;
  //             word-break: break-all;
  //             width: 3.466667rem;
  //             height: .386667rem;
  //             word-break: break-all;
  //             overflow: hidden;
  //             text-overflow: ellipsis;
  //           }
  //           .name2{
  //             line-height: 1.5;
  //             font-size: .32rem;
  //             margin-top: .133333rem;
  //             margin-left: .2rem;
  //             word-break: break-all;
  //             width: 3.466667rem;
  //             height: .386667rem;
  //             word-break: break-all;
  //             overflow: hidden;
  //             text-overflow: ellipsis;
  //           }
  //           .txt{
  //             color: #999999;
  //             font-size: .24rem;
  //             padding-top: .133333rem;
  //             padding-left: .213333rem;
  //             line-height: 1.5;
  //             word-break: break-all;
  //             width: 3.466667rem;
  //             height: .773333rem;
  //           }
  //           .price{
  //             padding-left: .186667rem;
  //             float: left;
  //             margin-top: .666667rem;
  //             height: .32rem;
  //             color: #5881cf;
  //             font-size: .45rem;
  //             font-weight: bold;
  //           }
  //         }
  //       }
  //       dl:nth-of-type(2){
  //         float: right;
  //       }
  //       dl:nth-of-type(4){
  //         float: right;
  //       }
  //       dl:nth-of-type(6){
  //         float: right;
  //       }
  //     }
  //     .mores{
  //       width: 8rem;
  //       line-height: 1.333333rem;
  //       margin-left: .266667rem;
  //       text-align: center;
  //       font-size: .45rem;
  //       color: #999999;
  //       border-bottom: solid .013333rem;
  //       clear: both;
  //     }
  //   }
  // }


  //接口样式
  .tab{
    width: 100%;
    height: 1.333333rem;
    background-color: red;
    display: flex;
    .smalltab{
      float: left;
      flex: 1;
      text-align: center;
      margin-top: .4rem;
    }
  }
  .content{
    width: 100%;
    height: 13.333333rem;
    background-color: green;
  }
}